#heroSection h1 {
  font-family: "Cinzel";
  font-size: 5rem;
  font-weight: bold;
}

#heroSection {
  background-image: url("/backgroundImage.jpg");\
}

.image {
}
#heroText {
  text-align: center;
}
a {
  text-decoration: none;
  color: black;
}

#actionBar span {
  padding: 20px;
}

.hero {
}

#logo {
  width: 50%;
}
.column {
}
