#heroSection h1 {
  font-family: "Cinzel";
  font-size: 5rem;
  font-weight: bold;
}

#heroSection {
  background-image: url("/backgroundImage.jpg");\
}


#heroText {
  text-align: center;
}
a {
  text-decoration: none;
  color: black;
}

#actionBar span {
  padding: 20px;
}

.hero {
}

#logo {
  width: 50%;
}
.column {
}

#expSection{
  padding-top: 10px;
  padding-bottom: 0;  
}
.skillicon{
  font-size: 10rem;
  text-align: center;
}
.skillBox p {
  text-align:center;
}

.skillBox{
  width: 33%;
}
.is-child{
  background-color:#fedd00
}
.title{
  font-family: 'Cinzel', serif;
}
.title p{
  font-family: 'Source Sans Pro', sans-serif;

}
.techHeader{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12pt;

}
#thankYou{
  padding-top:25px;

 }
 #thankYou .tile{
   background-color:#969696;
   padding: 10px;
 }





 @media only screen and (max-width: 768px) {
#logo{
  width: 100%;
}
#heroSection{
  text-align: center;
  padding: 100px;
  color: white;
  font-weight: bold;
  font-style: italic;

}
.icon i{
  color: white;
}
.skillicon{
  font-size: 5rem;
}
 }

 #projectCopy{
   font-size: 12px;
   width: 60%;
 }
 #techSkills{
   text-align: center;
 }
 #projectList{
   text-align: center;
 }
 #projectRow{
   padding-top: 25px;
 }
 #thankYouSection{
   width: 50%;
 }